.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.container{
    height: 610px;
}

.table-wrapper-scroll-y{
    height: 450px;
}

#users-scroll::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

#users-scroll::-webkit-scrollbar-thumb
{
    background-color: #000000;
}