lib/
bin/
db/
include/
lib64/python3.9
share/
debug/
pyvenv.cfg
config.json
Scripts/

bot/db_models/__pycache__
bot/commands/__pycache__
bot/formats/__pycache__
bot/objects/__pycache__
bot/states/__pycache__
bot/targs/__pycache__
bot/temp/__pycache__

web/commands/__pycache__
web/db_models/__pycache__
web/objects/__pycache__