lib/
bin/
include/
lib64/python3.9
share/
pyvenv.cfg
Scripts/

db/
sessions/
debug/
bot/sites/proxies.json
config.json

bot/decorators/__pycache__
bot/db_models/__pycache__
bot/commands/__pycache__
bot/formats/__pycache__
bot/objects/__pycache__
bot/states/__pycache__
bot/targs/__pycache__
bot/temp/__pycache__

web/commands/__pycache__
web/db_models/__pycache__
web/objects/__pycache__

alembic/__pycache__
alembic/versions/__pycache__