lib/
bin/
db/
include/
lib64/python3.9
share/
debug/
pyvenv.cfg
config.json
Scripts/

db_models/__pycache__
commands/__pycache__
formats/__pycache__
objects/__pycache__
states/__pycache__
targs/__pycache__
temp/__pycache__