{% extends "base_admin.html" %}

{% block content %}
    <title>{% block title %}{% endblock %} Users </title>
    <link rel="stylesheet" href="static/main.css">
    <br>
    <div class="container py-5 container-fluid" style="background-color: white;">
            <h2 class="mb-4">Пользователи | {{count_users}}</h2>        
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>User Id</th>
                            <th>Username</th>
                            <th>Date Created</th>
                            <th>Language</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for _ in users %}
                        <tr>
                            <th scope="row">{{ _.id }}</th>
                            <td>{{_.user_id}}</td>
                            {% if _.username == "None" %}
                                <td>Отсутсвует</td>
                            {% else %}
                                <td><a href="https://t.me/{{_.username}}">{{_.username}}</a></td>
                            {% endif %}
                            <td>{{(_.created | string)[:-7]}}</td>
                            <td>{{_.language}}</td>
                            <td>{{_.balance}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <form method="post">
            <button class="btn btn-primary" type="submit" name="sort-users" value="True">↑↓</button>
            </form>
    </div>
{% endblock %}  