{% extends "base_admin.html" %}

{% block content %}
    <title>{% block title %}{% endblock %} Users </title>
    <link rel="stylesheet" href="static/main.css">
    <br>
    <div class="container py-5 container-fluid" style="background-color: white;">
            <h2 class="mb-4">Пользователи | {{count_users}}</h2>        
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>User Id</th>
                            <th>Username</th>
                            <th>Language</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for _ in users %}
                        <tr>
                            <th scope="row">{{ _.id }}</th>
                            <th>
                                <div class="btn-group dropright">
                                <form method="post">
                                    <button type=submit" class="btn btn-secondary dropdown-toggle btn-sm" name="more-info" value="{{ _.user_id }}">{{ _.user_id }}</button>
                                </form>
                                </div>
                            </th>
                            {% if _.username == "None" %}
                                <td>Отсутсвует</td>
                            {% else %}
                                <td><a href="https://t.me/{{ _.username }}">{{ _.username }}</a></td>
                            {% endif %}
                            <td>{{ _.language }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <form method="post">
            <button class="btn btn-primary" type="submit" name="sort-users" value="True">↑↓</button>
            </form>
    </div>
{% endblock %}  